.Burger {
    width: 100%;
    margin: auto;
    /* height: 250px; */
    overflow: scroll;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}


/*Burger Window Scroll Styling*/

/* width */
::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* height */
::-webkit-scrollbar {
    height: 0.5em;
  }

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(112, 59, 9, 0.589);
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(112, 59, 9, 0.78);
  }
  
  /*END Burger Window Scroll Styling*/

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}