.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.SubmitBtn {
    background-color: rgba(92, 146, 16, 0.7);
    color: #fff;
    padding: 10px 10px 10px 10px !important;
    display: flex;
    text-align: center;
    margin-top: 2em;
    border-radius: 1.3em;
    border: 2px solid rgba(92, 146, 16, 0.7);
    transition: all ease 0.5s;
    box-sizing: border-box;
}

.SubmitBtn:hover {
    background-color: #5C9210;
    border: 2px solid #5C9210;
}