.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    text-align: -webkit-center;
}

.Input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 0.7em;
}

.SubmitBtn {
    display: block !important;
    margin: 0 auto !important;
    padding-top: 1em;
}

@media (min-width: 700px) {
    .ContactData {
        width: 500px;
    }
}